{% extends "audios/base.html" %}
{% load static %}

{% block content %}
<div class="music-player">
  <div class="titre">
    <h3>
      {{ week.audio_class.audio_class_name }}
    </h3>
    <h1>
      {{ week.week_name }}
    </h1>
  </div>
  <div class="lecteur">
    <audio class="fc-media" style="width: 100%;">
      <source src="{{week.audio_file.url}}" />
    </audio>
  </div>
  <div class="downloadfile">
    <a href="{{ week.audio_file.url }}" download><i class="fa fa-download" aria-hidden="true"></i> Download</a>
    ({{ week.page_views }})
  </div>
</div>
<br />
<br />
<p><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js">
</script>
<script src="{% static 'audios/js/script.js' %}"></script>

{% endblock content %}
